<div class="container wrapper">

	<div class="col-xs-offset-2 col-xs-8 snf-form">
		<h1 class="text-left">Reset Password</h1>
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<div ng-show="$root.loginMsg" class="alert alert-success">{{$root.loginMsg}}</div>
		<form name="login_form" ng-submit="resetPassword()" role="form">
			<div class="form-group">
				<label for="t_email">Add Email :</label> <input type="email"
					id="t_username" name="t_username" class="form-control"
					ng-model="email" required /> <span
					ng-show="login_form.t_username.$dirty && login_form.t_username.$error.required"
					class="help-block"><p class="text-danger">email is
						required</p></span>
			</div>
			
			<div class="form-actions">
				<button type="submit" class="btn btn-danger"
					ng-disabled="login_form.$invalid">Submit</button>
				<button type="button" class="btn btn-default" ng-click="goTologin()">Login</button>
			</div>
			</form>
			</div>
			</div>